h1 {
	color: #00D100;
	text-align: center;
}

#Search-wrapper {
	margin: 5%;
	max-width: 90%;
}
:host{
	display: flex; 
  	flex-direction: column; 
  	align-items: center; 
  	justify-content: center;
}