<div class="row">
	<div *ngIf="track" class="col-6">
		<!-- populate with track name-->
		<h1>{{track.name}}</h1>
		<p>
			<!-- link to album page, display album name-->
			Track on <a href="{{track.album.category}}/{{track.album.id}}">{{track.album.name}}</a>
		</p>
		<div>
			<!-- loop over album's artists-->
			<p>
				<!-- link to artist page, display artist name-->
				Artist: <a *ngFor = "let art of track.artists" href="{{ art.category }}/{{ art.id }}">{{art.name}}</a>
			</p>
		</div>
		<p>
			<!-- populate with track duration-->
			Duration: {{track.durationStr}}
		</p>
		<p>
			<!-- link to track page on spotify, display track name-->
			<a class="btn btn-light" role="button" target="_blank" href="{{track.url}}">Open {{track.name}} on Spotify</a>
		</p>
	</div>
	<div *ngIf="audioFeatures" class="col-6">
		<!-- loop over types of features and create a thermometer component for each-->
		<app-thermometer *ngFor="let feat of audioFeatures; let first=first" class = "thermometer-item" [name]="feat.name" [percent]="feat.percent" 
		[percentStr]="feat.percentageString" [color]="feat.color"  [ngClass] = "{'active': first}"></app-thermometer>
	</div>
</div>
