<div id="Search-bar">	
	<!-- bind input's model to searchString-->
	<input [(ngModel)] = "searchString" [placeholder] = "randomPlaceholder"> 
	<!--(change) = "search()"-->
	<!-- bind select's model to searchCategory-->
	<select [(ngModel)] = "searchCategory" (change) = "changeCat()">
		<!-- loop over searchCategories to create dropdown options-->
		<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
		<option *ngFor="let cat of searchCategories">{{cat}}</option>
	</select>
	<!-- Call search function when the button is clicked-->
	<button class="btn btn-light" (click) = "search()">Search</button>

</div>
<!-- Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->

<app-carousel *ngIf = "searchCategory !== 'Track'" [carouselId]="searchCategory" [resources] = "resources">
</app-carousel>

<!-- Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-track-list *ngIf = "searchCategory == 'Track'" [tracks] = "resources" [hideArtist]=false [hideAlbum] = false>
</app-track-list>
